.promotion-panel {
  width: 570px;
  height: 0;
  position: absolute;
  z-index: 1;
  left:0;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.promotion-panel::-webkit-scrollbar {
  display: none;
}

.promotion-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  user-select: none; /* Prevent text selection */
}

.promotion-button:hover {
  opacity: 0.8;
}

.panel-item {
  font-size: 18px;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.panel-item:hover {
  background-color: #f1f1f1;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #eee;
}

.promotion-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.confirm-btn {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.confirm-btn:hover {
  background-color: #0056b3;
} 